@using Microsoft.AspNet.Identity.EntityFramework;
@model UserRoleViewModel

@{
    ViewBag.Title = "Edit role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit role for user @Model.UserName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.UserId)

        <div class="form-group">
            <span class="col-md-1 control-label">Role</span>
            <div class="col-md-2">
                @*@Html.DropDownListFor(m => m.SelectedRoleId, Model.Roles, new {@class = "form-control" })*@
                @Html.DropDownListFor(m => m.SelectedRoleId, new SelectList(Model.Roles, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
