@using Microsoft.AspNet.Identity;

@model IEnumerable<Post>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table_row">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (User.IsInRole("writer") && Model.FirstOrDefault().UserId == User.Identity.GetUserId()
                    || User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) @: |
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }) @: |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.PostId })*@
                    <input class="deleteLink" type="button" value="Delete" onclick="deletePost(this)" data-postId="@item.PostId" />
                }
                else { @Html.ActionLink("Details", "Details", new { id = item.PostId }) }

            </td>
        </tr>
    }

</table>
<script type="text/javascript" src="@Url.Content("~/Scripts/dataProcessing.js")"></script>
<script type="text/javascript">

    function deletePost(input) {
        var postId = $(input).attr("data-postId");
        var row = $(input).closest(".table_row");
        $.ajax({
            type: "Post",
            url: "../../Posts/Delete/" + postId,
            success: function () {
                row.remove(".table_row");
            },
            error: function () {
                alert('error');
            }

        })
    }

</script>
