@using Microsoft.AspNet.Identity;

@model IEnumerable<Post>


<table id="post-grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table_row">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (User.IsInRole("writer") && Model.FirstOrDefault().UserId == User.Identity.GetUserId()
                    || User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) @: |
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }) @: |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.PostId })*@
                    <input class="deleteLink" type="button" value="Delete" data-postid="@item.PostId" />
                }
                else
                { @Html.ActionLink("Details", "Details", new { id = item.PostId }) }

            </td>
        </tr>
    }

</table>
<script type="text/javascript" src="@Url.Content("~/Scripts/dataProcessing.js")"></script>
<script type="text/javascript">


    $(function () {
        $("#post-grid").kendoGrid({
            sortable: true,
            pageable: true,
            dataSource: { pageSize: 5 },
            dataBound: function (e) {
                $(".deleteLink").click(function (e) {
                    var postId = $(this).attr("data-postId");
                    var link = $(this);
                    $.ajax({
                        type: "Post",
                        url: "../../Posts/Delete/" + postId,
                        success: function () {
                            var grid = $("#post-grid").data("kendoGrid");
                            var dataItem = grid.dataItem(link.closest("tr"));
                            grid.dataSource.remove(dataItem);
                        },
                        error: function () {
                            alert('error');
                        }

                    })
                })
            }
        });
    })

</script>